*{
    margin: 0;
    padding: 0%;

}

 .logo-here{
    position: absolute;
    top: 6vh;
    left: 3vw;
    font-size: x-large;
    color: white;
}
.call-icon{
    height: 5vh;
    width: 2vw;
    position: absolute;
    top: 2%;
    left: 35vw;

}
.container img{
   background-size: cover; 
   height: 100vh;
   width: 100vw;
}

.list{
    position: absolute;
    top: 6vh;
    left: 29vw;
    display: flex;
    color: white;
    font-weight: 700;
    gap: 2vw;
    border-bottom: 5px solid white;
}
.list-item{
    display: flex;
    font-size: x-large;
  
}
.context{
    margin-top: -66vh;
    margin-left: 5vw;
}
.heading{
    width: 30vw;
    font-size: xx-large;
    color: white;
}
.btn{
    margin-top: 12vh;
    padding: 1%;
    background: transparent;
    color: white;
    border:4px solid white;
    border-radius: 30px ;
    width: 12vw;
    font-size: medium;
    font-weight: 400;
    
}
.context-2{
    border: 1px solid black;
}
.puzzle-icon{
    position: absolute;
    height: 20vh;
    width: 17vw;
    top: 22vh;
    right: 10vw;
    border: 2px solid white;
    background: #aea4a4;
    padding: 1%;
    opacity: 0.9;
    border-bottom: 2px solid white;
    
}
.puzzle-icon svg{
    height: 6vh;
    width: 7vw;
    background: white;
    border-radius: 17px;
    padding: 1%;

}
.puzzle{
    margin-top: 10%;
    color: white;
    font-size: x-large;
}
.line{
    position: absolute;
    top: 46vh;
    right: 19vw;

    border-top: 140px solid white;
    width: 2px;
}
.ball1{
    position: absolute;
    top: 60vh;
    right: 18vw;
    height: 1.5vh;
    width: 1.5vw;
    background: white;
    border-radius: 50%;
}

.light-icon{
    position: absolute;
    height: 22vh;
    width: 18vw;
    top: 55vh;
    right: 35vw;
    background: #aea4a4;
    opacity: 0.9;
    border: 2px solid white;
    border-right: 4px solid white;
}
.light-icon svg{
    background:white;
    width: 6vw;
    height: 7vh;
    margin: 14px;
    border-radius: 10px;
    padding: 4px;
}
.light{
    font-weight: 500;
    font-size: x-large;
    color: white;
    padding: 4px;
    background: #aea4a4;
    opacity: 1.1;
}
.line2{
    position: absolute;
    top: 12vh;
    right: -8vw;
    width: 2px;
    border-bottom: 3px solid white;
    border-right: 170px solid white;
}
.ball2{
    position: absolute;
    top: 12vh;
    right: -9vw;
    height: 1.5vh;
    width: 1.5vw;
    background: white;
    border-radius: 50%;
} 
@media only  screen  and (max-width: 1325px ){
    .call-icon{
        display: none;
    }
    
}
@media only  screen and (max-width:1120px) {
    .heading{
       font-size: large;
    }
    
}
@media only  screen and (max-width:1000px) {
   .list{
    left: 22vw;
   }
}
@media only  screen and (max-width:1000px) {
.container{
    position: static;
}
 }